html {
	font-family: Roboto, sans-serif;
}

header {
	position: relative;
}

nav {
	height: 50px;
	background-color: #212121;
}

.menu {
	position: sticky;
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu-link {
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
}

.menu .menu-item {
	border-right: 2px dotted black;
	padding-right: 28px;
	max-height: 31px;
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	background-color:rgba(0, 0, 0, .6);
}

.subheader .subheader-logo {
	max-width: 100%;
	margin-top: 16px;
	display: block;
}

.subheader .subheader-official {
	margin-top: 6px;
	opacity: 0.5;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
}

.subheader .subheader-call {
	margin-top: 19px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	text-align: right;
}

.subheader .subheader-phone {
	display: block;
	margin-top: 8px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	line-height: 12px;
}

.subheader .subheader-button {
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border: none;
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	border-radius: 4px;
	color: #ffffff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.promo {
	color: #fff;
	min-height: 800px;
	text-align: center;
	padding: 151px 0 135px 0;
	background-image: url(../img/main-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.promo .promo-header {
	color: #fff;
	margin: 0;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 60px;
}

.promo .promo-subheader {
	color: #fff;
	margin: 0;
	font-size: 36px;
	font-weight: 400;
	font-weight: 700;
	line-height: 36px;
	margin-top: 22px;
}

.promo .promo-text {
	margin-top: 23px;
}

.promo .promo-button {
	width: 259px;
	height: 63px;
	margin-top: 118px;   
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
	border: none;
	outline: none;
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 4px;
}

.reason {
	min-height: 900px;
	padding: 71px 0 65px;
}

.reason .reason-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reason .reason-button {
	display: inline-block;
	justify-content: center;
	width: 112px;
	height: 24px;
	background-color: #000000;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
}

.reason .reason-subheader {
	margin: 38px 0 0;
	color: #222222;
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
}

.reason .reason-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
} 

.reason .reason-item .reason-item__icon {
	min-width: 113px;
	height: 113px;
	display: flex;
	justify-content: center;
	align-items:center;
	border-radius: 50%;
	background-color: #1eacc7;
}

.reason .reason-item .reason-item__text {
	max-width: 341px;
}

.reason .reason-item .reason-item__text-header {
	font-size: 17px;
	font-weight: 300;
	line-height: 21px;
	color: #1eacc7;
	font-weight: 400;
}

.reason .reason-item .reason-item__text-subheader {
	color: #202020;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	font-weight: 300;
	text-align: justify;
}
